@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    --color-white: #FFFFFF;
    --color-light-grey: #DDDDDD;
    --color-grey: #404040;
    --color-dark-grey: #1E1E1E;

    --font-primary: 'Inter', sans-serif;

    font-family: var(--font-primary);

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}